<!DOCTYPE html>
<html lang="en">
<style>

    .main-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /*container*/
    #CNCT {
        border-radius: 5px;
        background-color: #f2f2f2; /*container color*/
        padding: 20px;
    }

    div.container {
        width: 800px;
    }

    #contacttext {
        font-weight: bold;
    }

    input[type=text], textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid black;
        border-radius: 4px; /*round borders*/
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical /*user can vertically resize the text area*/
    }

    input[type=submit] {
        background-color: #FF7B34;
        color: white; /*submit text color*/
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        /*when hover the button changes color*/
        input[type=submit]:hover {
            background-color: #000;
        }
</style>

<body style="background-color: #E7DFD8;">
    <div class="main-container">
        <h2 id="HDR" style="font-size: 50px; color:#d17724; font-weight: lighter; text-align: center;">Contact Us!</h2>
        <h4 id="HDR" style="font-weight: lighter; text-align: center;">Let us know what you think!</h4>
        <div class="container" id="CNCT">
            <form action="">

                <label for="fullname" id="contacttext">Full Name</label>
                <input type="text" id="fullname" name="fullname" placeholder="Full Name">

                <label for="email" id="contacttext">Email</label>
                <input type="text" id="email" name="email" placeholder="Email">

                <label for="message" id="contacttext">Message</label>
                <textarea id="message" name="message" placeholder="Your Message" style="height:200px"></textarea>
                <input type="submit" value="Submit">

            </form>
        </div>
        <br /><br />
        <!--newsletter-->
        <h4 id="HDR" style="color:#d17724; font-size: 30px; font-weight: lighter; text-align: center;">Sign up for our newsletter!</h4>
        <br />
        <div class="container">
            <form action="">

                <label for="newsletteremail" id="contacttext">Email</label>
                <input type="text" id="newsletteremail" name="newsletteremail" placeholder="Email">
                <input type="submit" value="Submit">

            </form>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>

</html>